/* General Styles */
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #001E6C;
    color: white;
    height: 50px;
}

.logo img {
    height: 100px;
}

.tagline {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
}

.tools-dropdown button {
    background-color: #FFAA4C;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 100px;
}

.tools-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.tools-dropdown .dropdown-content a {
    padding: 12px;
    text-decoration: none;
    display: block;
    color: #333;
    font-weight: 600;
}

.tools-dropdown:hover .dropdown-content {
    display: block;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
    gap: 20px;
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 16px 30px rgba(0,0,0,0.2);
}

.card i {
    font-size: 30px; /* Adjust size as needed */
    color: #035397; /* Blue color */
    display: block; /* Ensure the icon is displayed as a block element */
    margin-bottom: 15px; /* Space between icon and heading */
}

.card i:hover{
    color: #FFAA4C;
}

.card h2 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 700;
    color: #035397;
}

.card h2:hover{
    color: #FFAA4C;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.card p:hover{
    font-weight: bolder;
}

.start-button {
    background-color: #035397;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Inria Sans', sans-serif;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #FFAA4C;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.shortener-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

.shortener-container h1 {
    color: #001E6C;
    font-family: 'Inria Sans', sans-serif;
    margin-bottom: 20px;
}

.shortener-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.shortener-container button {
    background-color: #035397;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.shortener-container button:hover {
    background-color: #FFAA4C;
}

#result-container p {
    font-size: 1.1rem;
    margin-top: 15px;
}

#expiry-message {
    font-size: 0.9rem;
    color: #FFAA4C;
    margin-top: 10px;
}

.qr-generator-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

.qr-generator-container h1 {
    margin-bottom: 20px;
    color: #001E6C;
}

.qr-generator-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1em;
}

.qr-generator-container button {
    background-color: #035397;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

.qr-generator-container button:hover {
    background-color: #FFAA4C;
}

.qr-generator-container #qr-code {
    margin: 20px 0;
}

.notes-container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.notes-container h1{
    color: #001E6C;
}

.note-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.note-form input {
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60%;
    max-width: 400px;
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #035397; /* Button Color */
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #FFAA4C; /* Hover Color */
}

.note-item {
    background: #f9f9f9;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-item button {
    background-color: #035397; /* Button Color */
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

.note-item button:hover {
    background-color: #FFAA4C; /* Hover Color */
}

.calendar-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.calendar-container h1{
    color: #001E6C;
    margin-top: 4px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-header {
    padding: 10px;
    background-color: #035397;
    color: white;
    border: 1px solid #ccc;
    text-align: center;
}

.day, .blank-day {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #FFAA4C;
}

.event-section {
    margin-top: 20px;
    border: 2px solid #035397;
    padding: 10px;
    border-radius: 10px;
}

.event-section h3 {
    margin-bottom: 15px;
}

#event-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

#add-event {
    background-color: #035397;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#add-event:hover {
    background-color: #FFAA4C;
}

#event-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.event-item span {
    flex-grow: 1;
}

.event-item input.event-text {
    border: none;
    background: transparent;
    width: 100%;
}

.event-item button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.event-item .edit-event {
    background-color: #FFA500;
    color: white;
}

.event-item .delete-event {
    background-color: #FF6347;
    color: white;
}

/* Footer */
footer {
    background-color: #001E6C;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
}

footer span {
    color: red;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row on smaller screens */
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .tagline {
        font-size: 18px;
        margin-top: 10px;
    }

    .card-container {
        grid-template-columns: 1fr; /* 1 card per row on mobile */
    }
}
